@{
    ViewData["Title"] = "Burial List";
}

@model BurialsViewModel

<div class="text-center">
    <h1 class="display-4">Burial List</h1>

    @if (Model != null)
    {
        @foreach (Burialmain bm in Model)
            {
                <partial name="MummySummary" model="bm"></partial>
            }
     }

</div>

<div page-model="@Model.PageInfo" page-action="Index"></div>

