@{
    ViewData["Title"] = "Burial List";
}

@model List<Burialmain>

<div class="text-center">
    <h1 class="display-4">Burial List</h1>

    @foreach (Burialmain bm in Model)
    {
        <ul>
            <li>ID: @bm.Id</li>
            <li>Sex: @bm.Sex</li>
            <li>Head Direction: @bm.Headdirection</li>
            <li>Depth: @bm.Depth</li>
        </ul>
    }
</div>