@{
    ViewData["Title"] = "Burial List";
}

@model List<Burialmain>

<div class="text-center">
    <h1 class="display-4">Burial List</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (Model != null)
    {
            @foreach (Burialmain bm in Model)
            {
                <h3>@bm.Id</h3>

                <ul>
                    <li>Sex: @bm.Sex</li>
                    <li>Head Direction: @bm.Headdirection</li>
                    <li>Depth: @bm.Depth</li>
                </ul>
            }
    }
</div>