@{
    ViewData["Title"] = "Confirmation";
}

<div class="text-center">
    <h1 class="display-4">Record Successfully Created</h1>
    <a asp-area="" asp-controller="Home" asp-action="Record">Create Another Record</a>
</div>