@{
    ViewData["Title"] = "Confirmation";
}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <h1 class="display-5 fw-bolder text-white mb-2 text-center">Confirmation</h1>
        </div>
    </div>
</header>

<br />

<div class="text-center">
    <h1 class="display-4">Record Successfully Created</h1>

    <a asp-action="Record" class="btn btn-primary">Create Another Record</a>
    <br />
    <br />
    <a asp-action="Table" class="btn btn-primary">View Table</a>
    <br />
    <br />
    <a asp-action="Index" class="btn btn-primary">Back to Home</a>
</div>