@{
    ViewData["Title"] = "Delete";
}

@model MummyData

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <h1 class="display-5 fw-bolder text-white mb-2 text-center">Delete Record</h1>
        </div>
    </div>
</header>

<div class="text-center">
    <h1 class="display-4">Are you sure you want to delete record @Model.Id?</h1>

    <!--Delete/Cancel Buttons-->
    <form method="post" asp-action="Delete">
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Home" asp-action="Table" class="btn btn-primary">Cancel</a>

        <!--Hidden MovieID Identifier-->
        <input type="hidden" asp-for="PkId" />
    </form>
</div>