@{
    ViewData["Title"] = "Delete";
}

@model MummyData

<div class="text-center">
    <h1 class="display-4">Are you sure you want to delete record @Model.PkId?</h1>

    <!--Delete/Cancel Buttons-->
    <form method="post" asp-action="Delete">
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Home" asp-action="Table" class="btn btn-primary">Cancel</a>

        <!--Hidden MovieID Identifier-->
        <input type="hidden" asp-for="PkId" />
    </form>
</div>