@model INTEX2.Models.MummyData

@{
    ViewData["Title"] = "Edit Record";
}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <h1 class="display-5 fw-bolder text-white mb-2 text-center">Edit Form</h1>
        </div>
    </div>
</header>

<div class="container text-center">
    <br />
    <div class="row">
        <div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PkId" />
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Depth" class="control-label"></label>
                    <input asp-for="Depth" class="form-control" />
                    <span asp-validation-for="Depth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HeadDirection" class="control-label"></label>
                    <input asp-for="HeadDirection" class="form-control" />
                    <span asp-validation-for="HeadDirection" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sex" class="control-label"></label>
                    <input asp-for="Sex" class="form-control" />
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HairColor" class="control-label"></label>
                    <input asp-for="HairColor" class="form-control" />
                    <span asp-validation-for="HairColor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BurialNumber" class="control-label"></label>
                    <input asp-for="BurialNumber" class="form-control" />
                    <span asp-validation-for="BurialNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgeAtDeath" class="control-label"></label>
                    <input asp-for="AgeAtDeath" class="form-control" />
                    <span asp-validation-for="AgeAtDeath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StructureValue" class="control-label"></label>
                    <input asp-for="StructureValue" class="form-control" />
                    <span asp-validation-for="StructureValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ColorValue" class="control-label"></label>
                    <input asp-for="ColorValue" class="form-control" />
                    <span asp-validation-for="ColorValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TextileValue" class="control-label"></label>
                    <input asp-for="TextileValue" class="form-control" />
                    <span asp-validation-for="TextileValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FieldNotes" class="control-label"></label>
                    <input asp-for="FieldNotes" class="form-control" />
                    <span asp-validation-for="FieldNotes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Length" class="control-label"></label>
                    <input asp-for="Length" class="form-control" />
                    <span asp-validation-for="Length" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <br />
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <br />
        <a asp-action="Table" class="btn btn-primary">Return to Table</a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}