@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Filter Category: Head Direction</h4>

<form method="post" asp-controller="Home" asp-action="BurialList" id="filterCategory">
    <input type="hidden" name="filterType" value="Head Direction" />

    <select name="filterValue" id="headDirection">
        @foreach (var x in ViewBag.MummyDataHeadDirection)
        {
            <option value="@x">@x</option>
        }
    </select>
    <button class="btn btn-primary" type="submit">Filter</button>
</form>