@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BurialsViewModel

@foreach (MummyData md in Model.Burials)
{
    <h1>Detail for @md.Id</h1>
    <p>@md.Sex</p>
}