@{
    ViewData["Title"] = "GDPR Policy";
}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <h1 class="display-5 fw-bolder text-white mb-2 text-center">@ViewData["Title"]</h1>
        </div>
    </div>
</header>

<div class="container">

    <p>
        Our Company is part of the Our Company Group which includes Our Company International and Our Company Direct.
        This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.
    </p>

    @*Topics*@
    <p>Topics:</p>
    <ul>
        <li><a href="#whatdata">What data do we collect?</a></li>
        <li><a href="#howcollect">How do we collect your data?</a></li>
        <li><a href="#howuse">How will we use your data?</a></li>
        <li><a href="#howstore">How do we store your data?</a></li>
        <li><a href="#datarights">What are your data protection rights?</a></li>
        <li><a href="#whatarecookies">What are cookies?</a></li>
        <li><a href="#howcookies">How do we use cookies?</a></li>
        <li><a href="#whatcookies">What types of cookies do we use?</a></li>
        <li><a href="#managecookies">How to manage your cookies</a></li>
        <li><a href="#privacypolicies">Privacy policies of other websites</a></li>
        <li><a href="#changepolicy">Changes to our privacy policy</a></li>
        <li><a href="#egyptdata">Egypt Data Protection</a></li>
        <li><a href="#contact">How to contact us</a></li>
        <li><a href="#contactauthority">How to contact the appropriate authorities</a></li>
    </ul>

    @*What Data do we collect?*@
    <h3 id="whatdata">What Data do we collect?</h3>
    <p>Our Company collects the following data:</p>
    <ul>
        <li>Personal identification information (Name, email address, phone number, etc.)</li>
        <li>[Add any other data your company collects]</li>
    </ul>

    @*How do we collect your data?*@
    <h2 id="howcollect">How do we collect your data?</h2>
    <p>You directly provide Our Company with most of the data we collect. We collect data and process data when you:</p>
    <ul>
        <li>Register online for any of our products or services.</li>
        <li>Voluntarily provide feedback on any of our message boards or via email.</li>
        <li>Use or view our website via your browser's cookies.</li>
    </ul>

    @*How will we use your data?*@
    <h2 id="howuse">How will we use your data?</h2>
    <p>Our Company collects your data so that we can:</p>
    <ul>
        <li>Keep track of users on the website</li>
        <li>Email you with regards to any updates from our website</li>
    </ul>
    <p>If you agree, Our Company will share your data with our partner companies so that they may offer you their products and services.</p>
    <ul>
        <li>Brigham Young University</li>
    </ul>

    @*How do we store your data?*@
    <h2 id="howstore">How do we store your data?</h2>
    <p>Our Company securely stores your data on a secrure database.</p>
    <p>Our Company will keep your account credentials for the duration you set you want your account active for. Once this time period has expired, we will delete your data.</p>

    @*What are your data protection rights?*@
    <h2 id="datarights">What are your data protection rights?</h2>
    <p>Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
    <ul>
        <li>The right to access - You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.</li>
        <li>The right to rectification - You have the right to request Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete information you believe is incomplete.</li>
        <li>The right to erasure - You have the right to request that Our Company erase your personal data, under certain conditions.</li>
        <li>The right to restrict processing - You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.</li>
        <li>The right to object to processing - You have the right to object to Our Company processing of your personal data, under certain conditions.</li>
        <li>The right to data portability - You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
    </ul>
    <p>If you make a request, we have 37 years to respond to you. If you would like to exercise any of these rights, please contact us at:</p>
    <ul>
        <li>Email: jakehalversen@gmail.com</li>
        <li>Call us at: (801) 123 - 4567</li>
    </ul>

    @*What are cookies?*@
    <h2 id="whatarecookies">What are cookies?</h2>
    <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.</p>
    <p>For further information, visit <a href="https://www.allaboutcookies.org/">allaboutcookies.org</a>.</p>

    @*How do we use cookies?*@
    <h2 id="howcookies">How do we use cookies?</h2>
    <p>Our Company uses cookies in a range of ways to improve your experience on our website, including:</p>
    <ul>
        <li>Keeping you signed in</li>
        <li>Understanding how you use our website</li>
    </ul>

    @*What types of cookies do we use?*@
    <h2 id="whatcookies">What types of cookies do we use?</h2>
    <p>There are a number of different types of cookies, however, our website uses:</p>
    <ul>
        <li><strong>Functionality</strong> - Our Company uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
        <li><strong>Advertising</strong> - Our Company uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Our company sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.</li>
    </ul>

    @*How to manage cookies?*@
    <h2 id="managecookies">How to Manage Cookies</h2>
    <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

    @*Privacy policies of other websites*@
    <h2 id="privacypolicies">Privacy policies of other websites</h2>
    <p>The Our Company website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

    @*Changes to our privacy policy*@
    <h3 id="changepolicy">Changes to our privacy policy</h3>
    <p>Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 10 April 2023.</p>

    @*Egypt Data Protection*@
    <h3 id="egyptdata">2020 Egyptian Data Protection</h3>
    <p>On July 17, 2020 Egypt promulgated its Data Protection Law (law no. 151 of 2020). The law follows some of the provisions of the EU’s General Data Protection Regulation (GDPR). It governs the handling and management of all personal data, except that is handled by the Central Bank of Egypt and all the entities under its supervision.</p>
    <p>The law imposes licensing requirements for data processing, data control, handling of sensitive data, electronic marketing, and cross-border transfer of data.</p>
    <p>The law provides severe fines for violations of its various provisions. It applies to any data controller and/or processor who is: an Egyptian national inside or outside of Egypt, foreign national living inside Egypt, foreigner residing outside of Egypt, provided that the violation is punishable in the country where the violation occurred and the data belongs to Egyptians or foreigners residing in Egypt.</p>

    @*How to Contact Us*@
    <div>
        <h3 id="contact">How to contact us</h3>
        <p>If you have any questions about Our Company privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
        <ul>
            <li>Email us at: jakehaversen@gmail.com</li>
            <li>Call us: (801) 123 - 4567</li>
        </ul>
    </div>

    @*How to contact the appropriate authority*@
    <h2 id="contactauthority">How to contact the appropriate authority</h2>
    <p>Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner's Office.</p>
    <p>Email: jakehalversen@gmail.com</p>

</div>