@{
    ViewData["Title"] = "Edit Record";
}

@model INTEX2.Models.MummyData

<div class="container text-center">
    <h1 class="display-4">Record Form</h1>
    <br />

    <form method="post">
        <div class="row">
            <div class="col">
                <label asp-for="Id">ID:</label>
                <input asp-for="Id" /><br />

                <label asp-for="Location">Location:</label>
                <input asp-for="Location" /><br />

                <label asp-for="Sex">Sex:</label>
                <select asp-for="Sex">
                    <option value="">Blank</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select><br />

                <label asp-for="AgeAtDeath">Age at Death:</label>
                <input asp-for="AgeAtDeath" /><br />

                <label asp-for="HeadDirection">Head Direction:</label>
                <input asp-for="HeadDirection" /><br />
            </div>
            
            <div class="col">
                <label asp-for="StructureValue">Structure Value:</label>
                <input asp-for="StructureValue" /><br />

                <label asp-for="Length">Length:</label>
                <input asp-for="Length" /><br />
            </div>
                    
            <div class="col">
                <label asp-for="BurialNumber">Burial Number:</label>
                <input asp-for="BurialNumber" /><br />

                <label asp-for="TextileValue">Textile:</label>
                <input asp-for="TextileValue" /><br />

                <label asp-for="ColorValue">Textile Color:</label>
                <input asp-for="ColorValue" /><br />

                <label asp-for="HairColor">Hair Color:</label>
                <input asp-for="HairColor" /><br />

                <label asp-for="FieldNotes">Field Notes:</label>
                <input asp-for="FieldNotes" /><br />

                <label asp-for="Photo">Photo:</label>
                <input asp-for="Photo" /><br />
            </div>    
        </div>

        <button type="submit">Submit Form</button>

        <div asp-validation-summary="All"></div>
    </form>
</div>