@{
    ViewData["Title"] = "Edit Record";
}

@model INTEX2.Models.Burialmain

<div class="container text-center">
    <h1 class="display-4">Record Form</h1>
    <br />

    <form method="post">
        <div class="row">
            <div class="col">
                <label asp-for="Id">ID:</label>
                <input asp-for="Id" /><br />

                <label asp-for="Sex">Sex:</label>
                <select asp-for="Sex">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select><br />

                <label asp-for="Ageatdeath">Age at Death:</label>
                <input asp-for="Ageatdeath" /><br />

                <label asp-for="Adultsubadult">Adult/Child:</label>
                <select asp-for="Adultsubadult">
                    <option value="">Blank</option>
                    <option value="A">Adult</option>
                    <option value="C">Child</option>
                </select><br />

                <label asp-for="Depth">Depth:</label>
                <input asp-for="Depth" /><br />

                <label asp-for="Northsouth">North South:</label>
                <select asp-for="Northsouth">
                    <option value="">Blank</option>
                    <option value="N">North</option>
                    <option value="S">South</option>
                </select><br />

                <label asp-for="Eastwest">East West:</label>
                <select asp-for="Eastwest">
                    <option value="">Blank</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select><br />

                <label asp-for="Headdirection">Head Direction:</label>
                <input asp-for="Headdirection" /><br />

                <label asp-for="Squarenorthsouth">Square North South:</label>
                <input asp-for="Squarenorthsouth" /><br />

                <label asp-for="Squareeastwest">Square East West:</label>
                <input asp-for="Squareeastwest" /><br />

                <label asp-for="Southtohead">South to Head:</label>
                <input asp-for="Southtohead" /><br />

                <label asp-for="Westtohead">West to Head:</label>
                <input asp-for="Westtohead" /><br />
            </div>
                    
            <div class="col">
                <label asp-for="Westtofeet">West to Feet:</label>
                <input asp-for="Westtofeet" /><br />

                <label asp-for="Southtofeet">South to Feet:</label>
                <input asp-for="Southtofeet" /><br />

                <label asp-for="Facebundles">Face Bundles:</label>
                <input asp-for="Facebundles" /><br />

                <label asp-for="Preservation">Preservation:</label>
                <input asp-for="Preservation" /><br />

                <label asp-for="Fieldbookpage">Field Book Page:</label>
                <input asp-for="Fieldbookpage" /><br />

                <label asp-for="Goods">Goods:</label>
                <input asp-for="Goods" /><br />

                <label asp-for="Text">Text:</label>
                <input asp-for="Text" /><br />

                <label asp-for="Wrapping">Wrapping:</label>
                <input asp-for="Wrapping" /><br />

                <label asp-for="Samplescollected">Samples Collected:</label>
                <select asp-for="Samplescollected">
                    <option value="">Blank</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select><br />

                <label asp-for="Area">Area:</label>
                <input asp-for="Area" /><br />

                <label asp-for="Length">Length:</label>
                <input asp-for="Length" /><br />
            </div>
                    
            <div class="col">
                <label asp-for="Wrapping">Wrapping:</label>
                <input asp-for="Wrapping" /><br />

                <label asp-for="Burialid">Burial ID:</label>
                <input asp-for="Burialid" /><br />

                <label asp-for="Burialnumber">Burial Number:</label>
                <input asp-for="Burialnumber" /><br />

                <label asp-for="Dataexpertinitials">Data Expert Initials:</label>
                <input asp-for="Dataexpertinitials" /><br />

                <label asp-for="Excavationrecorder">Excavation Recorder:</label>
                <input asp-for="Excavationrecorder" /><br />

                <label asp-for="Burialmaterials">Burial Materials:</label>
                <input asp-for="Burialmaterials" /><br />

                <label asp-for="Photos">Photos:</label>
                <input asp-for="Photos" /><br />

                <label asp-for="Hair">Hair:</label>
                <input asp-for="Hair" /><br />

                <label asp-for="Dateofexcavation">Date of Excavation:</label>
                <input asp-for="Dateofexcavation" /><br />

                <label asp-for="Fieldbookexcavationyear">Fieldbook Excavation Year:</label>
                <input asp-for="Fieldbookexcavationyear" /><br />

                <label asp-for="Clusternumber">Cluster Number:</label>
                <input asp-for="Clusternumber" /><br />

                <label asp-for="Shaftnumber">Shaft Number:</label>
                <input asp-for="Shaftnumber" /><br />
            </div>      
        </div>

        <button type="submit">Submit Form</button>

        <div asp-validation-summary="All"></div>
    </form>
</div>