@model BurialsViewModel

<div class="col-md-6 mx-auto">
    <form action="http://127.0.0.1:5000/predict?$" method="GET">
        <div class="form-group">
            <label for="squarenorthsouth">Square North-South:</label>
            <input type="number" id="squarenorthsouth" name="squarenorthsouth" value="0"><br><br />

            <label for="squareeastwest">Square East-West:</label>
            <input type="number" id="squareeastwest" name="squareeastwest" value="0"><br><br />
        </div>


        <div class="form-group">
            <label for="nothing">Colors:</label><br />

            <label for="yellow">Yellow</label>
            <select id="yellow" name="yellow">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>

            <br /><br />

            <label for="white">White</label>
            <select id="white" name="white">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>

            <br /><br />

            <label for="red">Red</label>
            <select id="red" name="red">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>

            <br /><br />

            <label for="purple">Purple</label>
            <select id="purple" name="purple">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>

            <input type="hidden" id="color" name="color" value="0">
        </div>



        <script>
            var colors = document.querySelectorAll('select[name="yellow"], select[name="white"], select[name="red"], select[name="purple"]');
            for (var i = 0; i < colors.length; i++) {
                colors[i].addEventListener('change', function () {
                    var colorSelected = false;
                    for (var j = 0; j < colors.length; j++) {
                        if (colors[j].value == 1) {
                            colorSelected = true;
                            break;
                        }
                    }
                    document.getElementById('color').value = colorSelected ? 1 : 0;
                });
            }
        </script>


        <br /><br />

        <div class="form-group">
            <label for="age">Age At Death:</label>
            <select id="age" name="">
                <option value="Adult">Adult</option>
                <option value="Child">Child</option>
                <option value="Infant">Infant</option>
            </select>
            <input type="hidden" id="adultsubadult_A" name="adultsubadult_A" value="0">
            <input type="hidden" id="adultsubadult_C" name="adultsubadult_C" value="0">
        </div>


        <script>
            var ageSelect = document.getElementById("age");
            ageSelect.addEventListener("change", function () {
                var ageValue = ageSelect.value;
                if (ageValue == "Adult") {
                    document.getElementById("adultsubadult_A").value = 1;
                    document.getElementById("adultsubadult_C").value = 0;
                } else if (ageValue == "Child") {
                    document.getElementById("adultsubadult_A").value = 0;
                    document.getElementById("adultsubadult_C").value = 1;
                } else if (ageValue == "Infant") {
                    document.getElementById("adultsubadult_A").value = 0;
                    document.getElementById("adultsubadult_C").value = 0;
                }
            });
        </script>

        <br /><br />

        <div class="form-group">
            <label for="area">Area:</label>
            <select id="area" name="">
                <option value="NE">NE</option>
                <option value="NW">NW</option>
                <option value="SE">SE</option>
                <option value="SW">SW</option>
            </select>
            <input type="hidden" id="area_NE" name="area_NE" value="0">
            <input type="hidden" id="area_SE" name="area_SE" value="0">
            <input type="hidden" id="area_SW" name="area_SW" value="0">

        </div>

        <script>
            var areaSelect = document.getElementById("area");
            areaSelect.addEventListener("change", function () {
                var areaValue = areaSelect.value;
                if (areaValue == "NE") {
                    document.getElementById("area_NE").value = 1;
                    document.getElementById("area_SE").value = 0;
                    document.getElementById("area_SW").value = 0;
                } else if (areaValue == "SE") {
                    document.getElementById("area_NE").value = 0;
                    document.getElementById("area_SE").value = 1;
                    document.getElementById("area_SW").value = 0;
                } else if (areaValue == "SW") {
                    document.getElementById("area_NE").value = 0;
                    document.getElementById("area_SE").value = 0;
                    document.getElementById("area_SW").value = 1;
                } else if (areaValue == "NW") {
                    document.getElementById("area_NE").value = 0;
                    document.getElementById("area_SE").value = 0;
                    document.getElementById("area_SW").value = 0;
                }
            });
        </script>

        <br /><br />

        <div class="form-group">
            <label for="depth">Depth:</label>
            <select id="depth" name="">
                <option value="Mid_Deep">Deep (3-4 meters)</option>
                <option value="Mid_Deep">Mid-Deep (2-3 meters)</option>
                <option value="Mid_Shallow">Mid-Shallow (1-2 meters)</option>
                <option value="Shallow">Shallow (0-1 meters)</option>
            </select>
            <input type="hidden" id="depthlevel_Mid_Deep" name="depthlevel_Mid_Deep" value="0">
            <input type="hidden" id="depthlevel_Mid_Shallow" name="depthlevel_Mid_Shallow" value="0">
            <input type="hidden" id="depthlevel_Shallow" name="depthlevel_Shallow" value="0">
        </div>


        <script>
            var depthSelect = document.getElementById("depth");
            depthSelect.addEventListener("change", function () {
                var depthValue = depthSelect.value;
                if (depthValue == "Mid_Deep") {
                    document.getElementById("depthlevel_Mid_Deep").value = 1;
                    document.getElementById("depthlevel_Mid_Shallow").value = 0;
                    document.getElementById("depthlevel_Shallow").value = 0;
                } else if (depthValue == "Mid_Shallow") {
                    document.getElementById("depthlevel_Mid_Deep").value = 0;
                    document.getElementById("depthlevel_Mid_Shallow").value = 1;
                    document.getElementById("depthlevel_Shallow").value = 0;
                } else if (depthValue == "Shallow") {
                    document.getElementById("depthlevel_Mid_Deep").value = 0;
                    document.getElementById("depthlevel_Mid_Shallow").value = 0;
                    document.getElementById("depthlevel_Shallow").value = 1;
                } else if (depthValue == "Deep") {
                    document.getElementById("depthlevel_Mid_Deep").value = 0;
                    document.getElementById("depthlevel_Mid_Shallow").value = 0;
                    document.getElementById("depthlevel_Shallow").value = 0;
                }
            });
        </script>

        <br /><br />

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <div id="result-container"></div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.querySelector('form');
            const resultContainer = document.querySelector('#result-container');
            form.addEventListener('submit', (event) => {
                event.preventDefault(); // prevent default form submission behavior
                const formData = new FormData(form); // get form data
                const queryParams = new URLSearchParams(formData); // create URL query params
                fetch(`http://127.0.0.1:5000/predict?${queryParams}`, {
                    method: 'GET'
                })
                    .then(response => response.json()) // parse response as JSON
                    .then(data => {
                        const prediction = data['prediction'][0][0]; // extract prediction value from JSON response
                        // map the predicted numbers to their corresponding text values
                        const map = {
                            'W': 'Whole Wrapped',
                            'H': 'Half Wrapped',
                            'B': 'Bones'
                        }
                        const textValue = prediction in map ? map[prediction] : 'Unknown'; // map predicted value to corresponding text value, or set to 'Unknown' if not in map
                        // update HTML on page with prediction
                        if (resultContainer) {
                            resultContainer.innerHTML = `Prediction: ${textValue}`;
                        } else {
                            console.error('Error: Result container element not found');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>

</div>