@{
    ViewData["Title"] = "Unsupervised Analysis";
}

<div class="text-center">
    <h1 class="display-3">Unsupervised Analysis</h1>
    <br/>
    <div class="border d-inline-block">
        <h3 class="display-5" style="border: 1px solid black; padding: 10px;">Model 1: Head Direction over Time</h3>
    </div>

    <img src="~/lib/unsupervised_head_direction_scatter.png" />
    <br/>
    <h5>The burrying of mummies facing east phased out over time. In the last 0.67 meters, only mummies facing west have been found.</h5>
    <br/>
    <img src="~/lib/unsupervised_head_direction_box.png" />
    <br/>
    <h5>The average age of mummies burried facing east is much higher.</h5>
    <br/>
    <ul style="display: inline-block; text-align: left;">
        <li>Length has no observable impact on head direction</li>
        <li>0.68 Meters was the last time someone was burried facing east</li>
        <li>East average: 1.8 Meters</li>
        <li>West average: 1.1 Meters</li>
    </ul>
    <br/>
    <p>
        We can pull two conclusions from these visualizations. First, length does not have an observable impact on head direction. 
        Secondly, they stopped burrying mummies with their heads pointing east after 0.68 depth. This shows that around that time, 
        there was a shift in burial practice to only bury the mummies facing west. 
        The average depth of mummies facing east looks to be around 1.8 while the average depth facing west looks to be around 1.1. 
        That is a big difference! This tells us that there was a trend as time went on to start burrying more bodies facing west, rather than east. Until, eventually, they stopped burrying mummies east altogether.
    </p>
    <br/>
    <h3 class="display-5">Model 2: Color over Time</h3>
    <br/>
    <img src="~/lib/unsupervised_color_scatter_2.png" />
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th colspan="2">Legend</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>Color</th>
                            <th>Textile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="background-color: yellow;"></td>
                            <td>Yellow Textile</td>
                        </tr>
                        <tr>
                            <td style="background-color: red;"></td>
                            <td>Red Textile</td>
                        </tr>
                        <tr>
                            <td style="background-color: purple;"></td>
                            <td>Purple and Red Textile</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <br/>
    <h5>Conclusion: The color of textiles changed over time, from yellow, to red and lastly, red and purple.</h5>
    <br />
    <ul style="display: inline-block; text-align: left;">
        <li>Taller mummies tend to be burried with red textile</li>
        <li>Oldest to newest colors: Yellow, red, purple</li>
    </ul>
    <br />
    <p>There aren't a ton of data points so this visualization / model is not as strong as our prior one.
       But, we do find a couple intersting trends. First, the taller (older at death) mummies where mostly burried with red, 
       with only one of the seven records around 2 meters in length missing red. Our second observation has to do with color over time. 
       The oldest bodies only contained yellow textile. Then, there is a middle period around 1 meter of depth where there is mostly red and 
       some yellow. Red seems to have been introudced aroud 1.2 meters while purple was introduced around 1 meter.</p>
</div>



